@import "tailwindcss";

:root {
  --font-space-mono:
    var(--font-space-mono), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: var(--font-space-mono);
  @apply bg-white text-black dark:bg-black dark:text-white; /* Apply your custom font */
}

@keyframes intro-nav-elements {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-elements-animation {
  animation: intro-nav-elements 0.5s ease-in-out;
}
